<legend>Lista de Asignaturas</legend>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                  <th width="1%" height="48">Id.</th>
                  <th width="10%" height="48">Asignatura</th>
                  <th width="20%">Programa</th>
                  <th width="20%">Facultad</th>
                  <th width="10%"></th>
                   <th width="20%">Editar / Inactivar</th>

                </tr>
              </thead>
              <tbody class="table-hover">
                <% _.each(subjects, function(subject){ %>
                <tr>
                  <td><%=subject.get('idSubject') %></td>
                  <td><%=subject.get('name') %></td>
                  <td><%=subject.get('program').name%></td>
                  <td></td>
                  <td><button type="button" class="btn btn-default tooltip-bottom" title="Ver historial de envíos">&raquo;</button></td>
                <td><p><a class="btn btn-primary" href="#" role="button">Editar</a> 
                        <a class="btn btn-danger" href="#" role="button">Inactivar</a></p></td>
                </tr>
                <% }); %>
      
              </tbody>
            </table>
          </div>
    <nav style="text-align: right;">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
   