<form id="subjectform">

<legend> Asignatura Nueva</legend>
 
 <div class = "form-group">
     <label for="nameSubject">Asignatura</label>
     <input type="text" autofocus required class="form-control" id="nameSubject" placeholder="description" value="<%= (subjectModel) ? subjectModel.get('name'): '' %>">
  </div>
 
  <div class="form-group">
     <label for="facultySubject">Facultad</label>
     
     <select class="form-control" id="facultySubject">
          <option> </option>
        <% _.each(facultys, function(faculty){ %>
            <option value="<%=faculty.get('idFaculty') %>"><%=faculty.get('name') %></option>
        <% }); %>
      </select>   
  </div>
  
    <%if(subjectModel){%>
    <input type='hidden' value= "<%=subjectModel.get('idSubject') %>"/>
    <% }%>

    
 <div class="form-group">
     <label for="departmentSubject">Departamento</label>
     <select class="form-control" id="programSubject"  name="description">         
          <option></option>
     </select>
     
     
  </div>
     <button class="btn btn-lg btn-primary" type="submit" id="submitButton">Grabar Asignatura</button> 
 
</form>
