
          <h1>Lista de Asignaturas</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th width="18%" height="48">Asignatura</th>
                  <th width="34%">Programa</th>
                  <th width="20%">Facultad</th>

                </tr>
              </thead>
              <tbody>
              
                <tr>
                  <td>Ingeniera de Software I</td>
                  <td>Ingeniería de Sistemas</td>
                  <td>Facultad De Ingeniería y Ciencias Básicas</td>

                </tr>
                
                <tr>
                  <td>Ingenieria de Software II</td>
                  <td>Ingeniería de Sistemas</td>
                  <td>Facultad De Ingeniería y Ciencias Básicas</td>

                </tr>
                
                <tr>
                  <td>Practica Aplicada I</td>
                  <td>Ingeniería de Sistemas</td>
                  <td>Facultad De Ingeniería y Ciencias Básicas</td>

                </tr>
                
                <tr>
                  <td>Herramientas de Programación</td>
                  <td>Ingeniería de Sistemas</td>
                  <td>Facultad De Ingeniería y Ciencias Básicas</td>

                  
                <tr>
                  <td>Verificacion de Algoritmos</td>
                  <td>Ingeniería de Sistemas</td>
                  <td>Facultad De Ingeniería y Ciencias Básicas</td>

                </tr>
               
              </tbody>
            </table>
          </div>
          
   