  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <p>&nbsp;</p>
          <h1 class="page-header">Lista de Modulos</h1>
          <div class="row placeholders"></div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th width="18%" height="48">Modulo</th>
                  <th width="34%">Asignatura</th>
                  <th width="20%">Cohorte</th>
                  <th width="28%">Tutor</th>
                  <th width="28%">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Ingeniera de Software I</td>
                  <td>1</td>
                  <td>Julian Olarte</td>
                  <td>Inactivo</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Ingenieria de Software II</td>
                  <td>1</td>
                  <td>Julian Olarte</td>
                  <td>Inactivo</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Practica Aplicada I</td>
                  <td>2</td>
                  <td>Julian Olarte</td>
                  <td>Activo</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Herramientas de Programación</td>
                  <td>3</td>
                  <td>Pepito Perez</td>
                  <td>Inactivo</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Verificacion de Algoritmos</td>
                  <td>3</td>
			            <td>Fulanito de Tal</td>
                  <td>Inactivo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
