  
          <legend>Modulo Nuevo</legend>
          <div class="row placeholders"></div>
          <form action="ListarTutores.html" class="form-signin">
            <p></p>
            
            
    <div class = "form-group">
        <label for="subjectModule">Asignatura</label>
        <select class="form-control" id="subjectModule" name="description1">
            <option></option>
            <option>Ingeniera de Software I</option>
            <option>Ingenieria de Software II</option>
            <option>Practica Aplicada I</option>
            <option>Herramientas de Programación</option>
            <option>Verificacion de Algoritmos</option>
        </select>
    </div>
        
    <div class = "form-group">
        <label for="cohortModule">Cohorte</label>  
        <select class="form-control" id="cohortModule"  name="description2">
            <option></option>
            <option>Cohorte 1: 10/01/2015 -> 09/03/2015</option>
            <option>Cohorte 2: 10/03/2015 -> 09/05/2015</option>
            <option>Cohorte 3: 10/07/2015 -> 10/09/2015</option>
            <option>Cohorte 4: 10/11/2015 -> 09/01/2016</option>
            <option>Cohorte 5: 10/01/2015 -> 09/03/2015</option>
            <option>Cohorte 6: 10/05/2015 -> 09/07/2015</option>
            <option>Cohorte 7: 10/07/2015 -> 09/09/2015</option>    
        </select>
  </div>

    <div class = "form-group">
        <label for="tutorModule">Tutor</label>  
        <select class="form-control" id="tutorModule" name="description3">
            <option></option>
            <option>Julian Olarte</option>
            <option>Juan Perez</option>
            <option>Pedro Pinto</option>
            <option>Luis Rodriguez</option>
        </select>
    </div>       
    <button class="btn btn-lg btn-primary" type="submit" id="summitButton2">Guardar Modulo</button>
</form>
