<legend>Lista de Tutores</legend>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                  <th width="18%" height="48">Nombres</th>
                  <th width="18%">Apellidos</th>
                  <th width="20%">Correo Institucional</th>
                  <th width="15%">Estado</th>
                  <th width="20%">Editar</th>
                </tr>
            </thead>
            <tbody class="table-hover">
               <%_.each(tutors,function(tutor){%>
                <tr style="a">
                   <td><%tutor.get('names')%></td>
                  <td><%tutor.get('surnames')%></td>
                  <td><%tutor.get('institutional_email')%></td>
                  <td><%tutor.get('state')%></td>
                  <td><p><a class="btn btn-primary" href="#" role="button">Editar</a> 
                </tr>
                <%});%>
            </tbody>
        </table>
    </div>
  