<legend>Tutor Nuevo</legend>
    <form action="ListarTutores.html" class="form-signin">
        <div class = "form-group">
            <label for="nameTutor">Nombre Tutor</label>
            <input type="text" id="nameTutor" class="form-control" placeholder="decripcion" required autofocus>
        </div>   
        
        <div class = "form-group">
            <label for="lastNameTutor">Apellido Tutor</label>
            <input type="text" id="lastNameTutor" class="form-control" placeholder="descrpcion" required autofocus>
        </div>
       <div class = "form-group">
            <label for="cedulaTutor">Numero de Cedula</label>
            <input type="text" id="cedulaTutor" class="form-control" placeholder="descripcion" required autofocus>
         </div>
         
        <div class = "form-group">
            <label for="generoTutor">Genero</label>
                <input type="radio" name="Genero" value="m" id="Genero_0">
                <label>Masculino</label>
               	<input type="radio" name="Genero" value="f" id="Genero_1">
                <label>Femenino</label>
              <br>
         </div>

                   
        <div class = "form-group">
            <label for="celularTutor">Celular</label>
             <input type="text" id="celularTutor" class="form-control" placeholder="descripcion" required autofocus>
         </div>
           <div class = "form-group">
            <label for="tipoContratoTutor">Tipo de Contrato</label>
            <input type="text" id="tipoContratoTutor" class="form-control" placeholder="descripcion" required autofocus>
         </div>

          <div class = "form-group">
            <label for="direccionTutor">Direccion</label>
            <input type="text" id="direccionTutor" class="form-control" placeholder="descripcion" required autofocus>
         </div>

         <div class = "form-group">
            <label for="usuarioTutor">Usuario</label>
            <input type="usuario" id="usuario" class="form-control" placeholder="Usuario" required autofocus>
         </div>
         
         <div class = "form-group">
            <label for="correoPTutor">Correo Personal</label>
            <input type="correopersonal" id="correopersonal" class="form-control" placeholder="Correo Personal" required autofocus>
         </div>
         
         <div class = "form-group">
            <label for="correoITutor">Correo Institucional</label>
            <input type="correoinstitucional" id="correoinstitucional" class="form-control" placeholder="Correo Institucional" required autofocus>
         </div>
           
        <div class = "form-group">
            <label for="estadoTutor">Estado</label>
            <input type="radio" name="estado" value="activo" id="estado_0">
            <label>Activo</label>
            <input type="radio" name="estado" value="inactivo" id="estado_1">
            <label>Inactivo</label>
            <input type="radio" name="estado" value="nota" id="estado_2">
            <label>Inactivo Por Nota</label>
         </div> 
        <button class="btn btn-lg btn-primary" type="summit" id="summitButton">Guardar Tutor</button> 
    </form>
