
<form action="ListarTutores.html" class="form-signin">
    <h2 class="form-signin-heading">Nuevo Mensaje de Correo:</h2>
    <p>&nbsp;</p>
    <p>Asunto:</p>
    <p>
        <input type="text" autofocus required class="form-control" id="asunto" placeholder="Asunto">
        Mensaje:</p>
    <p>
       <textarea class="form-control" rows="3" placeholder="Escriba aquí su Mensaje" ></textarea>
    </p>

    <h4>Seleccione de modulos</h4>
    <select class="form-control" id="subjectSelect" multiple="multiple">
       
        <optgroup label="Selección Multiple">

            <option>Ingeniera de Software I</option>
            <option>Ingenieria de Software II</option>
            <option>Practica Aplicada I</option>
            <option>Herramientas de Programación</option>
            <option>Verificacion de Algoritmos</option>

    </select>


    <h4>A enviar</h4>
   <select class="form-control" id="daySelect">
        <optgroup class="single" label="Seleccione:">
            <option>1 Dia</option>
            <option>2 Dias</option>
            <option>3 Dias</option>
            <option>1 Semana</option>
            <option>1 Mes</option>
        </optgroup>
    </select>

    
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="despues" >  
  Despues del cohorte
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="antes" > 
  Antes del cohorte
</label>
        <br>
    
    <p><br>
    </p>
    <button class="btn btn-lg btn-primary" type="submit">Guardar</button>
</form>